@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.container-main > section {
  /* background-color: rgb(228, 228, 228); */
  width: 600px;
  height: 80%;
  overflow-y: scroll;
}

.container-main > section::-webkit-scrollbar {
  display: none;
  width: 5px;
}

/* Track */
.container-main > section::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
.container-main > section::-webkit-scrollbar-thumb {
  background: rgb(209, 208, 208);
  border-radius: 5px;
}

/* Handle on hover */
.container-main > section::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 20px;
  width: 90%;
  height: 60px;
}

.checkbox {
  position: relative;
  top: -15px;
  padding-left: 38px;
  cursor: pointer;
  font-size: 22px;
}

.checkbox input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: rgb(219, 219, 219);
  border-radius: 2px;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #2ed6a8;
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 12px;
  top: 6px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.title-task {
  font-size: 18px;
  cursor: default;
}

.container-main > aside {
  width: 300px;
  height: 80%;
}

.announcement {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  margin: 0 auto;
  width: 80%;
  height: 250px;
}

.status-controler {
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  margin: 20px auto;
}

.status-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.status-progress-full {
  height: 100%;
}

.status-progress h2 {
  position: absolute;
  margin: 0;
}

.circular-chart {
  display: block;
  max-width: 50%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: rgb(207, 207, 207);
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  transition: 1s;
}

.circular-chart .circle {
  stroke: #2ed6a8;
}

.btn-new-task {
  background-color: #2ed6a8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
  font-family: 'Rubik', sans-serif;
  padding: 5px 0;
  margin-top: 10px;
  width: 60%;
}

.noTasks {
  text-align: center;
  color: #1da581;
}

.noTasks > h1 {
  font-size: 30px;
}

.noTasks > button {
  background-color: #1da581;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  padding: 10px;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
