header.header-home {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 100px;
}

header.header-home > img {
  width: 18vh;
}

main.main-home {
  height: 90%;
  box-sizing: border-box;
}

section.presentation {
  display: flex;
  height: 96%;
}

section.content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 40%;
  padding-left: 100px;
  padding-top: 10%;
}

section.content-images {
  position: relative;
  width: 60%;
}

section.content > h1 {
  color: rgb(26, 180, 138);
  font-size: 40px;
  margin: 0;
}

section.content > button {
  background-color: white;
  border-radius: 5px;
  border: solid 2px rgb(68, 216, 176);
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(18, 143, 109);
  display: flex;
  transition: 0.2s;
}

section.content > button > svg {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(26, 180, 138);
  transition: 0.2s;
}

section.content > button:hover {
  background-color: rgb(68, 216, 176);
  color: white;
}

section.content > button:hover > svg {
  color: white;
}

section.content > p {
  font-size: 20px;
}

section.content-images > img {
  width: 48%;
}

section.content-images > img:nth-child(1) {
  position: absolute;
  bottom: 10%;
  z-index: 2;
}

section.content-images > img:nth-child(2) {
  position: absolute;
  right: 100px;
  top: 10%;
  z-index: 1;
}

footer {
  background-color: rgb(46, 214, 168);
  height: 4%;
  text-align: right;
  font-weight: 600;
  color: white;
  padding: 6px;
  padding-right: 100px;
  box-sizing: border-box;
}

/* Mobile */

@media only screen and (max-width: 1000px) {
  header.header-home {
    justify-content: center;
  }

  section.presentation {
    flex-direction: column-reverse;
  }

  section.content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
  }

  section.content > h1 {
    font-size: 35px;
  }

  section.content > p {
    font-size: 20px;
  }

  section.content-images {
    height: 40%;
    width: 100%;
    text-align: center;
  }

  section.content-images > img:nth-child(1) {
    display: none;
  }

  section.content-images > img:nth-child(2) {
    position: relative;
    right: auto;
    top: auto;
    z-index: 0;
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }

  footer  {
    padding: 2px;
    text-align: center;
  }
}
