header {
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0 8px rgba(90, 90, 90, 0.322);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

header h1 {
  margin: 0;
}
