/* main {
  height: 100%;
} */

.container-taskday {
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  height: 80%;
  width: 60%;
}

/* Loading animation */
.cont-full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.container-boxes {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  row-gap: 5px;
  width: 150px;
  height: 150px;
}

.box {
  background-color: rgb(137, 255, 223);
  border-radius: 5px;
}

.box1 {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.box2 {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.box3 {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 1s;
}

.box4 {
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: 2s;
}

@keyframes loading {
  0%   {background-color: rgb(137, 255, 223);}
  25%  {background-color: rgb(68, 216, 176);}
  50%  {background-color: rgb(46, 214, 168);}
  75%  {background-color: rgb(26, 180, 138);}
  100% {background-color: rgb(137, 255, 223);}
}
