@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(53, 53, 53);
  margin: 0;
  height: 100%;
  min-height: 100%;
  position: relative;
}

#root {
  height: 100%;
}
